<?php

define('DB_NAME', '<%= YPConf.get('dbName') %>');
define('DB_USER', '<%= YPConf.get('dbUser') %>');
define('DB_PASSWORD', '<%= YPConf.get('dbPass') %>');
define('DB_HOST', '<%= YPConf.get('dbHost') %>');
$table_prefix  = '<%= YPConf.get('tablePrefix') %>';
