<?php 

define('DB_NAME', '<%= conf.get('productionDbName') %>');
define('DB_USER', '<%= conf.get('productionDbUser') %>');
define('DB_PASSWORD', '<%= conf.get('productionDbPass') %>');
define('DB_HOST', '<%= conf.get('productionDbHost') %>');
