<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */
 
// Include local configuration
if ( file_exists( dirname( __FILE__ ) . '/wp-config-local.php' ) ) {
  // Local Environment
  define('WP_ENV', 'local');
  define('WP_DEBUG', true);
  define('WP_DEBUG_LOG', true);

  include( dirname( __FILE__ ) . 'wp-config-local.php' );

} elseif ( file_exists( dirname( __FILE__ ) . '/wp-config-staging.php' ) ) {

  // Playground Environment
  define('WP_ENV', 'staging');
  define('WP_DEBUG', true);
  define('WP_DEBUG_LOG', true);

  include( dirname( __FILE__ ) . 'wp-config-staging.php' );

} elseif ( file_exists( dirname( __FILE__ ) . '/wp-config-production.php' ) ) {

  // Production Environment
  define('WP_ENV', 'production');
  define('WP_DEBUG', false);

  include( dirname( __FILE__ ) . 'wp-config-production.php' );
}

// Global DB config
if (!defined('DB_NAME')) {
	define('DB_NAME', '<%= YPConf.get('dbName') %>');
}
if (!defined('DB_USER')) {
	define('DB_USER', '<%= YPConf.get('dbUser') %>');
}
if (!defined('DB_PASSWORD')) {
	define('DB_PASSWORD', '<%= YPConf.get('dbPass') %>');
}
if (!defined('DB_HOST')) {
	define('DB_HOST', '<%= YPConf.get('dbHost') %>');
}

/** Database Charset to use in creating database tables. */
if (!defined('DB_CHARSET')) {
	define('DB_CHARSET', 'utf8');
}

/** The Database Collate type. Don't change this if in doubt. */
if (!defined('DB_COLLATE')) {
	define('DB_COLLATE', '');
}

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
<%= YPConf.get('saltKeys') %>
/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '<%= YPConf.get('tablePrefix') %>';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '<%= YPConf.get('wpLang') %>');

<% if (YPConf.get('customDirs')) { %>
/**
 * Set custom paths
 *
 * These are required because wordpress is installed in a subdirectory.
 */
if (!defined('WP_SITEURL')) {
	define('WP_SITEURL', 'http://' . $_SERVER['SERVER_NAME'] . '<%= (YPConf.get('port')) ? ':' + YPConf.get('port') : '' %>/<%= YPConf.get('wpDir') %>');
}
if (!defined('WP_HOME')) {
	define('WP_HOME',    'http://' . $_SERVER['SERVER_NAME'] . '<%= (YPConf.get('port')) ? ':' + YPConf.get('port') : '' %>');
}
if (!defined('WP_CONTENT_DIR')) {
	define('WP_CONTENT_DIR', dirname(__FILE__) . '/<%= YPConf.get('contentDir') %>');
}
if (!defined('WP_CONTENT_URL')) {
	define('WP_CONTENT_URL', 'http://' . $_SERVER['SERVER_NAME'] . '<%= (YPConf.get('port')) ? ':' + YPConf.get('port') : '' %>/<%= YPConf.get('contentDir') %>');
}
<% } %>
<% if (YPConf.get('blockExternalRequests')) { %>
/**
 * Disable external requests
 *
 * This is so that users dont see update requests since things are managed through git
 */
if (!defined('WP_HTTP_BLOCK_EXTERNAL')) {
	define('WP_HTTP_BLOCK_EXTERNAL', true);
}
<% } %>
/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
if (!defined('WP_DEBUG')) {
	define('WP_DEBUG', false);
}

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
