<?php 

define('DB_NAME', '<%= conf.get('stagingDbName') %>');
define('DB_USER', '<%= conf.get('stagingDbUser') %>');
define('DB_PASSWORD', '<%= conf.get('stagingDbPass') %>');
define('DB_HOST', '<%= conf.get('stagingDbHost') %>');
